img{
    max-width: 90%;
    display: block;
}
/*---------------*/
.ir-body{
    height: calc(100vh - 70px);
}

.ir-padding-y-10{
    padding: 10px 0;
}

.ir-header{
    background-color: #fff;
    height: 100%;
}

.ir-header i{
    font-size: 20px;
}

.ir-header .ir-logo{
    height: 50px;
}

.ir-w{
    width: var(--ir-w);
}

.ir-grow{
    flex-grow: 1;
}

.ir-color-gold{
    color: gold;
}

.ir-cerca{
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    padding-left: 35px;
    border: none;
    border-radius: 5px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position:left;
}

@media screen and (min-width: 991px) {
    .ir-w{
        width: calc(var(--ir-w) * 2);
    }
}